CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
.idea/
bin/
build/
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.vcxproj.filters.user
*.vcxproj.user
*.vcxproj.filters.user

*.xcodeproj
*.xcodeworkspace
*.xcworkspace
*.xcworkspace.zip
*.xcworkspace.zip.part
*.xcworkspace.zip.part.1
*.xcworkspace.zip.part.2
*.pbxproj
*.pbxproj.zip
*.pbxproj.zip.part
*.pbxproj.zip.part.1
*.pbxproj.zip.part.2
*.xcuserdatadirectory

xcuserdata/
*.xcuserdatadirectory
*.xcuserdata
*.xcuserdata.zip
*.xcuserdata.zip.part
*.xcuserdata.zip.part.1
*.xcuserdata.zip.part.2